.blok-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.blok-01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blok-2{
    display: flex;
    flex-direction: column;
}

.blok-02{
    display: flex;
    flex-direction: column;
}

.blok-03 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bl{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}