
 
  body {
    background-image: linear-gradient(rgba(238, 224, 224, 0.801), rgba(172, 153, 153, 0.6)), url(002.jpg);
    min-height: 100%;
    background-size:cover;
    background-attachment: fixed;
  }
  

  header {
    text-shadow: 0 1px 8px rgba(0,0,0,.2);
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  
  h1 {
    color:  #555B8F;
    text-align: center;
  }

  h2 {
      color: #E07A5F;
      font-style: normal;
      text-align: center;
  }

  .p1 {
      color:#3D405B;
      font-style: normal;
      line-height: 140px;
      text-align: center;
      font-size: 20px;
      margin-top: -2.5em; 
      margin-bottom: 1em; 
  }

  .p2 {
      color: #3D405B;
      font-size: 15px;
      text-align: center;
      margin-top: 5px;
      margin-top: -3.5em; 
      margin-bottom: 1em; 
      flex-wrap: wrap;

  }

  .img {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
  }

  .img01 {
    position: absolute;
    width: 217px;
    height: 156px;
    left: 140px;
    top: 400px;
  }

  .img02 {
    position: absolute;
    width: 216px;
    height: 153px;
    left: 482px;
    top: 400px;
  }

  .img03 {
    position: absolute;
    width: 224px;
    height: 153px;
    left: 828px;
    top: 400px;
  }

  .img04 {
    position: absolute;
    width: 223px;
    height: 156px;
    left: 1163px;
    top: 400px;
  }

  .img05 {
    position: absolute;
    width: 223px;
    height: 156px;
    left: 1498px;
    top: 400px;
  }

  .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 350px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 105px;
    width: 1889px;
 }

 .text-end {
    display: flex;
    flex-direction: row;
     justify-content: flex-end;
     color: #5f201b;
     font-size: 40px;
     margin-top: 1.5em;
 }

 .mg {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-top: 30px;
   margin-right: 251px;
 }

 .mg1 {
  width: 124px;
  height: 111px;
 }

 .tex01 {
    position: absolute;
    width: 217px;
    height: 156px;
    left: 140px;
    top: 567px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
 }

.tex02 {
  position: absolute;
  width: 216px;
  height: 153px;
  left: 482px;
  top: 567px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
 }

.tex03 {
  position: absolute;
    width: 224px;
    height: 153px;
    left: 828px;
    top: 567px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.tex04 {
  position: absolute;
  width: 223px;
  height: 156px;
  left: 1163px;
  top: 567px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.tex05 {
  position: absolute;
  width: 223px;
  height: 156px;
  left: 1498px;
  top: 567px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.mg1{
  width: 124px;
  height: 111px;
}
 .mg2 {
  width: 124px;
  height: 111px;
 }

 .mg3 {
  width: 124px;
  height: 111px;
 }

 p {
   color: #5f201b;
  font-size: 25px;
  margin-top: 1.5em;
  font-family: 'Times New Roman', Times, serif;
 }


 .img1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.img001 {
position: absolute;
width: 217px;
height: 156px;
left: 200px;
top: 314px;
}

.img002 {
position: absolute;
width: 216px;
height: 153px;
left: 530px;
top: 314px;
}

.img003 {
position: absolute;
width: 224px;
height: 153px;
left: 885px;
top: 314px;
}

.img004 {
position: absolute;
width: 223px;
height: 156px;
left: 1219px;
top: 314px;
}

.img005 {
position: absolute;
width: 223px;
height: 156px;
left: 1560px;
top: 314px;
}

.modals
{
    display: none;
    width: 500px;
    height: 500px;
    background-color: rgb(236, 191, 191);
    position: absolute;
    left: 70vh;
    top:250px;
}

.maps {
  width: 300px;
  height: 250px;
  margin-left: 100px;
}

.showed
{
    display: block;
}

@media screen and (max-width: 375px) {
  header {
    width: 90%;
    flex-wrap: wrap;
  }
  .img1{
  display: none;
  }
.img {
  display: none;
}
.button {
  margin-top: 100px;
}
.p1{
  margin-top: 20px;
  line-height: 20px;
  font-size: 35px;
}
.p2 {
  margin-top: 15px;
  font-size: 20px;
}
p {
  font-size: 10px;
  }
.mg1 {
  width: 50px;
  height: 51px;
}
.mg2{
  width: 50px;
  height: 51px;
}
.mg3 {
  width: 50px;
  height: 51px;
}
.display-1 {
  font-size: calc(5.625rem + 4.5vw)
}
.display-2 {
  font-size: calc(7.575rem + 3.9vw);
}

.mg {
  display: inline-block;
  margin: 0 auto
}
}



