
 
  body {
    background-image: linear-gradient(rgba(238, 224, 224, 0.801), rgba(172, 153, 153, 0.6)), url(002.jpg);
    min-height: 100%;
    background-size:cover;
    background-attachment: fixed;
  }
  

  header {
    text-shadow: 0 1px 8px rgba(0,0,0,.2);
    margin: 0 auto;
  }
  
  h1 {
    color:  #555B8F;
    text-align: center;
  }

  h2 {
      color: #E07A5F;
      font-style: normal;
      text-align: center;
  }

  .p1 {
      color:#3D405B;
      font-style: normal;
      line-height: 140px;
      text-align: center;
      font-size: 20px;
      margin-top: -2.5em; /* Отступ сверху */
      margin-bottom: 1em; /* Отступ снизу */
  }

  .p2 {
      color: #3D405B;
      font-size: 15px;
      text-align: center;
      margin-top: 5px;
      margin-top: -3.5em; /* Отступ сверху */
      margin-bottom: 1em; /* Отступ снизу */
      flex-wrap: wrap;

  }

  .img {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
  }

  .img01 {
    position: absolute;
    width: 217px;
    height: 156px;
    left: 140px;
    top: 345px;
  }

  .img02 {
    position: absolute;
    width: 216px;
    height: 153px;
    left: 482px;
    top: 345px;
  }

  .img03 {
    position: absolute;
    width: 224px;
    height: 153px;
    left: 828px;
    top: 345px;
  }

  .img04 {
    position: absolute;
    width: 223px;
    height: 156px;
    left: 1163px;
    top: 345px;
  }

  .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 200px;
  }

  .footer {
    height: 105px;
    width: 1431px;
    left: -598px;
    top: 276px;
 }

 .text-end {
     color: #5f201b;
     font-size: 35px;
     margin-top: 1.5em;
 }

 .mg {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
 }

 .mg1 {
  width: 124px;
  height: 111px;
 }

 .mg2 {
  width: 124px;
  height: 111px;
 }

 .mg3 {
  width: 124px;
  height: 111px;
 }

 p {
   color: #5f201b;
  font-size: 25px;
  margin-top: 1.5em;
  font-family: 'Times New Roman', Times, serif;
 }